includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - database
        - tests

    excludePaths:
        - bootstrap/cache
        - storage
        - node_modules (?)

    ignoreErrors:
        - identifier: method.alreadyNarrowedType
